

body {
    background-color: black;
 }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
} 


 :host {
    display: block;
    height: 100%;
    width: 100%;
} 

.game {
    display: flex;
    width: 100vw;
    height: 98vh;
    max-width:100%;
}

.game-header {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    width: 13%;
    height: 100%;
    background-color: yellow;
}

.player {
    position: absolute;
    margin-left: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 190px;
    height: 250px;
}

.one {
    top: 10px;
}

.two {
    top:350px
}

.active {
    visibility:hidden;
}

.playing {
    color: red;
    font-weight:bold;
    margin-top: 10px;
    margin-left: 30px;
}

.info {
    color: green;
}

.tie {
    position: relative;
    color: red;
    font-size: 30px;
    font-weight: bold;
    top: 100px;
    margin-left: 20px;
}
button {
    position: relative;
    top: 300px;
    left: 37px;
    width: 75%;
    height: 55px;
    background-color: green;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 30px;
}



.card-guessed {
    color: black;
    margin-left: 50px;
    color: green;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px 5px;
    width:87%;
    background-color: orange;
    height: 100%;
}

.flipped {
    transform: rotateY(180deg);
}

.guessed {
    filter: grayscale(100%);
    cursor: not-allowed;
}


.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 250px;
    margin: auto;
    background-color: #ffffff;
    border: solid 1px #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
}


.card img {
    width: 100%;
    height: auto;
}